<div class="navigation">
    <button class="btn btn-danger"><a routerLink="/">Posts</a></button>
    <button class="btn btn-danger"><a routerLink="/History">History</a></button>
    <button class="btn btn-danger"><a routerLink="/PostItem">Post Item</a></button>
    <button class="btn btn-danger"><a routerLink="/Directory">Directory</a></button>
    <button class="btn btn-danger"><a routerLink="/Bookmarks">Bookmarks</a></button>
    <button class="btn btn-danger"><a routerLink="/Users">Users</a></button>
    <button class="btn btn-danger"><a routerLink="/Sign-in">Sign In</a></button>
  </div>
